<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        appBasicHighlight
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li *ngFor="let number of numbers"
        [ngStyle]="{backgroundColor: number % 2 ===0 ? 'gray' : ''}"
          class="list-group-item">{{number}}
        </li>
        <!-- it's possible to omit the [] of the property if the the property's type is string -->
        <p [appBetterHighlight]="'grey'" defaultColor="blue">a better attribute directive</p>
        <!-- <p [appBetterHighlight]="'grey'" [defaultColor]="'blue'">a better attribute directive</p> -->
        
        
        <!-- only is displayed where condition is false -->
        <p *appUnless="onlyOdd">bla</p>
      </ul>    
    </div>
  </div>
</div>
